.diagram {
  padding: 10px;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 60%;
  margin: 0 auto;
}
